body {
  padding: 0;
  margin: 0;
}

.header-links {
  margin: 0 0 30px 30px;
}

.title {
  margin-left: 25px;
  color: darkgreen;
}

.home-description {
  margin-left: 25px;
}

.display {
  border: 1px solid black;
  padding: 25px;
  margin: 25px;
}